{{ define "main" }}
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-6 d-flex flex-row align-items-center">
                <div class="text-center ">
                    <h1 class="display-3">Home</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header justify-content-center">
                        <h2 class="card-title" style="color: #FCBE19;">Your Content</h2>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
